a {
  text-decoration: none;
}

nav {
  top: 0;
  left: 4px;
  position: fixed;
  width: auto;
  z-index: 9999;
}

ul {
  color: #FF4D4D;
  background: #404040E6;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  padding: 0.3rem;
  position: relative;
  text-decoration: none;
  transition-duration: .3s ease-in-out;
}

li a {
  color: #FFF;
  margin: 0 0.3rem;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

li a:hover {
  color: #FF964D;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

li a:active {
  color: #FF4D4D;
}

li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 19rem;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
/*  transition: all 0.5s ease;*/
  margin-top: 0.3rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
  width: 100%;
}
