html {
  min-height: 100%;
  width: 100%;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  background: #404040;
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  }
body {
  font-family: Ubuntu, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  background: #404040;
  color: #FFF;
  padding: 5.1em;
  margin: 0 -5.1em;
}
h1 {
  line-height: 1.7em;
  text-transform: uppercase;
  text-align: center;
  color: #FF4D4D;
  padding: 48px 0 6px 0;
}
h2 {
  line-height: 1.6em;
  text-transform: uppercase;
  text-align: center;
  color: #FF4D4D;
  padding: 36px 0 6px 0;
}
h3 {
  line-height: 1.5em;
  text-align: center;
  color: #FF964D;
  padding: 24px 0 4px 0;
}
h4 {
  line-height: 1.4em;
  text-align: center;
  font-style: italic;
  color: #FF964D;
  padding: 12px 0 2px 0;
}
p {
  text-align: justify;
  text-indent: 24px;
  margin: 0 12px;
}
ol {
	list-style-type: none;
	counter-reset: num;
  text-align: left;
  margin: 0 12px;
}
ol li {
  cursor: text !important;
  background: #404040 !important;
  color: white;
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}
ol li:before {
	content: counter(num) ')';
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: -48px;
	width: 42px;
	color: #FF964D;
	text-align: right;
}
hr {
  border: none;
  color: grey;
  background-color: grey;
  height: 2px;
}
img {
  width:360px;
  height:auto;
}
.image {
  font-style: italic;
  text-align: center;
}
.quote {
  text-indent: 0;
  padding: 24px 8% 0 8%
}
.signature{
  text-align: right;
  text-indent: 0;
  padding: 0 12% 24px 0 ;
}
.comments {
  text-indent: 0;
}
.contents {
  text-indent: 0;
  padding: 0 48px;
}
.space-vertical {
  padding: 24px 0;
}
