html {
  min-height: 100%;
  width: 100%;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  background: #333;
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  }
body {
  font-family: Ubuntu, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  background: #404040;
  color: #FFF;
  padding: 5.1em;
  margin: 0 -5.1em;
}
h1 {
  line-height: 1.7em;
  text-transform: uppercase;
  text-align: center;
  color: #FF5C4D;
  text-shadow: 1px 1px 1px #262626, 0 0 2px #262626;
  padding: 48px 0 6px 0;
}
h2 {
  line-height: 1.6em;
  text-transform: uppercase;
  text-align: center;
  color: #FF5C4D;
  text-shadow: 1px 1px 1px #262626, 0 0 2px #262626;
  padding: 36px 0 6px 0;
}
h3 {
  line-height: 1.5em;
  text-align: center;
  color: #FF884D;
  text-shadow: 1px 1px 1px #262626, 0 0 2px #262626;
  padding: 24px 0 4px 0;
}
h4 {
  line-height: 1.4em;
  text-align: center;
  font-style: italic;
  color: #FF884D;
  text-shadow: 1px 1px 1px #262626, 0 0 2px #262626;
  padding: 12px 0 2px 0;
}
p {
  text-align: justify;
  text-indent: 24px;
  margin: 0 12px;
}
ol {
  list-style-type: none;
  counter-reset: num;
  text-align: left;
  margin: 0 12px;
}

ol li {
  cursor: text !important;
  background: #404040 !important;
  color: #FFF;
  position: relative;
  margin: 0;
  padding: 0;
}
ol li:before {
  content: counter(num) ')';
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -48px;
  width: 42px;
  color: #FF884D;
  text-align: right;
}
hr {
  border: none;
}
.hr1 {
  height: 3px;
  margin: 48px;
  background-image: linear-gradient(to right, #00000000, #FF5C4D, #00000000);
}
.hr2 {
  height: 2px;
  margin: 24px 96px;
  background-image: linear-gradient(to right, #00000000, #FF884D, #00000000);
}
.line {
  border-left: 3px solid #FF884D;
  border-right: 3px solid #FF884D;
}
img {
  width:360px;
  height:auto;
}
.image {
  text-align: center !important;
}
.quote {
  text-indent: 0;
  padding: 0 8%
}
.signature{
  text-align: right;
  text-indent: 0;
  padding: 0 12%;
}
.comments {
  text-indent: 0;
}
.contents {
  text-indent: 0;
  padding: 0 48px;
}
.space {
  padding: 24px 0;
}
